@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xs {
    font-size: 1rem;
}

.text-sm {
    font-size: 1.125rem;
}

.text-base {
    font-size: 1.266rem;
}

.text-lg {
    font-size: 1.424rem;
}

.text-xl {
    font-size: 1.602rem;
}

@media (min-width: 996px) {
    .text-xs {
        font-size: 1rem;
    }

    .text-sm {
        font-size: 1.125rem;
    }

    .text-base {
        font-size: 1.333rem;
    }

    .text-lg {
        font-size: 2.339rem;
    }

    .text-xl {
        font-size: 3.157rem;
    }
}

@layer components {
    html {
        font-size: 16px;
        @apply bg-gray-light-3;
    }

    body {
        font-family: "Source Sans Pro";
        @apply text-gray-dark-3;
        font-size: 1.266rem;
    }

    h1,
    h2,
    .subtitle {
        font-family: "Montserrat";
        @apply text-center;
    }

    h1 {
        @apply font-extrabold;
        font-size: 1.602rem;
    }

    h2 {
        @apply font-medium;
        font-size: 1.424rem;
    }

    .subtitle {
        @apply font-semibold uppercase text-gray-light;
        font-size: 1.125rem;
    }

    @media (min-width: 996px) {
        body {
            font-size: 1.333rem;
        }

        h1 {
            font-size: 3.157rem;
        }

        h2 {
            font-size: 2.369rem;
        }

        .subtitle {
            font-size: 1.125rem;
        }
    }

    a {
        @apply text-primary;
    }

    .btn {
        @apply inline-block px-4 text-white rounded shadow-md outline-none bg-primary;
        line-height: 2.5rem;
    }

    .btn:focus {
        @apply outline-none;
    }

    .btn:hover {
        @apply bg-primary-dark;
    }

    .btn:active {
        @apply outline-none bg-primary-dark-3;
    }

    input {
        @apply w-full px-2 border-2 border-solid rounded outline-none border-primary hover:border-primary-light-2 focus:border-primary-dark-3;
        line-height: 2.5rem;
    }
}
